<script type="text/javascript">
function delayedRedirect(){
    window.location = "<%= root_url %>"
}
</script>
</head>

<body onLoad="setTimeout('delayedRedirect()', 3000)"></body>

<center>
  <h2>You'll be redirected soon!</h2>
</center>